@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("chillguy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  font-size: 50px;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  text-shadow: 0 0 15px black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

textarea {
  width: 100%;
  height: 40vh;
  margin-top: 10px;
  border-radius: 6px;
  border-style: none;
  box-shadow: 0 0 10px white;
  resize: none;
  font-size: 20px;
  line-height: 28px;
}

i {
  position: absolute;
  margin-bottom: 20vh;
  font-size: 40px;
  color: rgb(199, 199, 199);
}

label {
  font-size: 24px;
}

#input-container {
  display: flex;
  gap: 30vw;
}

#english-container,
#bruzz-container {
  width: 30vw;
}
